.card{
    margin: 20px 20px;
   
}
.user-title{
    text-align: center;
}
.user-image{
    max-width: 80px;
    margin: 0 auto;
}

.user-text{
    text-align: center;
}
.profile{
    background-color: rgb(237, 236, 236);
    display: flex;
    padding: 20px 20px;
}
.profile-text{
    margin-right: 100px;
}